* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}
.container {
  border-style: solid;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30%;
}
.image {
  width: 100%;
  object-fit: cover;
}
.title {
  color: rgb(0, 0, 0);
  font-size: 13px;
}
.rating {
  display: flex;
  align-items: center;
  gap: 3px;
}
.rating img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.rating-value {
  font-size: 26px;
  font-weight: 500;
}
.price {
  font-size: 20px;
}
.badge {
  background-color: rgb(84, 8, 119);
  color: rgb(255, 255, 255);
  width: 32px;
  padding: 2px 4px;
}
.best {
  background-color: lightblue;
  color: darkgreen;
  padding: 2px 4px;
}