* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffcd9e;
}
.content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
}
.details {
  padding: 0 10px;
  width: 50%;
}
.content img {
  width: 300px;
  height: 100%;
  padding: 0 20px;
  margin-left: 200px;
  margin-top: 100px;
}
.foot {
  display: flex;
  margin-top: 100px;
  margin-bottom: 0;
}
.ftr-left {
  display: flex;
  flex-direction: column;
  background-color: #212121;
  color: white;
  height: 150px;
  width: 100%;
  justify-content: center;
  line-height: 1.5rem;
  padding: 0 50px;
}
.about {
  display: flex;
  flex-direction: column;
  background-color: #212121;
  color: white;
  padding: 20px 20px;
  line-height: 1.5rem;
  justify-content: center;
}

@media (width <= 640px) {
  .content {
    flex-direction: column;
    height: auto;
  }
  .details {
    width: 100%;
    padding: 20px;
  }
  .content img {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 0;
  }
  .ftr-left {
    width: 100%;
    padding: 20px;
  }
}